<aside>
    <div class="container">
        <ul>
            <li>
                <a>Dashboard</a>
            </li>
            <li>
                <a>Products</a>
                <ul class="collapse show">
                    <li>
                        <a class="sub-aside-link">All Products</a>
                    </li>
                    <li>
                        <a class="sub-aside-link">Category</a>
                    </li>
                </ul>
            </li>
            <li>
                <a>Sales</a>
                <ul class="collapse show">
                    <li>
                        <a class="sub-aside-link">Products</a>
                    </li>
                    <li>
                        <a class="sub-aside-link">Services</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>