<nav>
    <div class="container">
        <div id="brand">
            <div class="inline logo-container">
                <img id="logo" src="/assets/images/logo1.png" alt="Gagay Tech Shop">
            </div>
            <div class="inline">
                <strong id="brand-title">
                    Gagay Tech Shop
                </strong>
                <p>
                    <small id="brand-subtitle">
                        We power ON every posibilities!
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sub-container">
            <a class="nav-link">Shop</a>
            <a class="nav-link">Cart</a>
            <a class="nav-link">Checkout</a>
            <a class="nav-link">My Account</a>
        </div>
    </div>
</nav>